main {
  margin-top: 50px;
}

.background_img {
  margin-top: 50px;
  background-image: url(../img/aquarium.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

/*added video
video{
  width: 100%;
  height: 50%;
}
.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
object-fit: contain;
height: 50%;
}
*/

.header_text {
  margin-top: 50px;
  text-align: center;
}

.ticket_container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ticket {
  background-image: url(../img/ticket1.png);
  background-size: 100% 100%;
  padding: 2.7rem;
  margin: 10px 20px;
  text-align: center;
  width: 450px;
  letter-spacing: 1px;
}

.counter h3 {
  color: white;
}

.count h3 {
  color: #336699;
}

.btn:hover {
  background-color: #334466;
}

.ticket_button {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 25px;
  margin-right: 10px;
}

.main_counter {
  display: flex;
  align-items: center;
}
.counter {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  width: 80px;
  gap: 10px;
}
.btn {
  width: 50px;
  height: 30px;
  border-radius: 50%;
  background-color: #336699;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
