form,
label,
select,
input,
textarea {
  font-family: Advent Pro;
  color: #336699;
  font-size: 20px;
}

.contact_form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
  gap: 50px;
}

h2 {
  margin-top: 90px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #336699;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: lightskyblue;
}

.container {
  width: 300px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 30px;
  padding: 50px;
  overflow: auto;
}

.contact_img img {
  position: relative;
  margin-top: 120px;
  width: 600px;
  border-radius: 5px;
  z-index: -2;
}

@media (max-width: 544px), (max-width: 832px) {
  main {
    margin-top: 150px;
  }
  .container {
    margin: 20px;
    padding: 30px;
  }
}
@media (max-width: 1024px) {
  .contact_img {
    display: none;
    margin: 0;
  }
}

.hide_bubble {
  position: absolute;
  margin-top: 50px;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

.hide_bubble:hover {
  opacity: 0;
}

/*Inspirert av Codepen.io ved Mark*/
.bubble {
  color: white;
  display: flex;
  background-color: #336699;
  padding: 20px;
  border-radius: 30px;
  min-width: 40px;
  max-width: 220px;
  min-height: 40px;
  margin: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bubble a {
  color: white;
}
.bubble:before,
.bubble:after {
  content: "";
  background-color: #336699;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
}
.bubble:before {
  width: 44px;
  height: 44px;
  top: -12px;
  left: 28px;
  box-shadow: -50px 30px 0 -12px #336699;
}
.bubble:after {
  bottom: -10px;
  right: 26px;
  width: 30px;
  height: 30px;
  box-shadow: 40px -34px 0 0 #336699, -28px -6px 0 -2px #336699,
    -24px 17px 0 -6px #336699, -5px 25px 0 -10px #336699;
}
/* END */
