* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
button {
  font-family: Advent Pro;
  width: 100%;
  height: 100%;
}

a,
p,
h1,
h2,
h3 {
  color: #336699;
}

a,
p {
  font-size: 20px;
  font-weight: bolder;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.main_header {
  display: flex;
  justify-content: space-around;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.navigation li a {
  text-decoration: none;
  letter-spacing: 1px;
}

.navigation ul {
  margin-top: 15px;
}

.navigation li {
  padding-left: 50px;
  display: inline-block;
}

.link_header::after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: #336699;
  transition: width 0.3s;
}

.link_header:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/*Fjerner logo og tilpasser siden*/
@media (max-width: 832px) {
  .main_header {
    text-align: center;
    flex-direction: column;
    height: 150px;
  }
  .main_header h1 {
    font-size: 32px;
  }
  .main_header img,
  .container_show img {
    display: none;
    margin: auto;
  }
}

/*Fjerner logo og tilpasser siden*/
@media (max-width: 544px) {
  .logo {
    display: none;
    margin: auto;
  }
  .menu a {
    font-size: 10px;
  }
  .navigation li {
    padding-left: 10px;
  }
  .link_header h3 {
    font-size: 15px;
  }
}

.wrapper {
  margin-top: auto;
  background-image: url(../img/fish_background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}

.container_show {
  margin-bottom: 20px;
}

.container_show h1 {
  padding: 2rem;
}

.container_show h1,
h2 {
  text-align: center;
}

/*Rullende ball frem og tilbake*/
.animation {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.animation img {
  width: 7em;
}

.ball {
  position: absolute;
  animation-name: rollingball;
  animation: rollingball 5s infinite;
}
.ball img {
  width: 50px;
}

@keyframes rollingball {
  0% {
    left: 34%;
  }
  50% {
    left: 62.5%;
  }
  100% {
    left: 34%;
  }
}

/*Kode insperert fra Codepen.io ved eriksenlezama*/

.box_gallary {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
}

.box_gallary img {
  transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
  box-shadow: -80px 60px 15px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
  transform-style: preserve-3d;
}

.box_gallary:hover img {
  transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
/* SLUTT */

.box_gallary img {
  padding: 30px;
  width: 200px;
  height: 200px;
}

/*Kode insperert fra Codepen.io ved Sean*/
.gallary h1 {
  padding: 20px;
}
.gallary {
  margin: 20px;
  margin-bottom: 40px;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px 300px;
  grid-gap: 10px;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.text h3 {
  color: white;
}

.gallery-item:hover .image img {
  transform: scale(1.5);
}

.gallery-item .text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  pointer-events: none;
  z-index: 0;
  transition: 0.3s ease-in-out;
  -webkit-backdrop-filter: blur(5px) saturate(1.8);
  backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-item:hover .text {
  opacity: 1;
  animation: move-down 0.3s linear;
  padding: 1em;
  width: 100%;
}

.img1 {
  grid-column: span 3;
}

.img2 {
  grid-column: span 2;
}

.img3 {
  grid-column: span 4;
}

.gc1 {
  grid-row: span 2;
}

.gc2 {
  grid-row: span 3;
}
.gc3 {
  grid-row: span 1;
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .img1,
  .img2,
  .img3 {
    grid-column: span 1;
  }

  .gc1,
  .gc2,
  .gc3 {
    grid-row: span 3;
  }
}

@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}
/*SLUTT*/

.gallary2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  margin: 20px 20px;
}

.gallary_img1,
.gallary_img2,
.gallary_img3,
.gallary_img4 {
  width: 240px;
  margin-top: 50px;
  border: 1px #336699 solid;
  margin-left: 20px;
  border-radius: 5px;
  margin-bottom: 80px;
}

.gallary_img1 img,
.gallary_img2 img,
.gallary_img3 img,
.gallary_img4 img {
  width: 100%;
  height: 40%;
}

.info_img {
  padding: 10px;
}

.button {
  margin-top: 30px;
  border: none;
  padding: 8px;
  color: white;
  background-color: #336699;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 30px;
}

.button h3 {
  color: white;
}

.button:hover {
  background-color: #334466;
}

.bottom {
  background-color: white;
  display: flex;
  justify-content: center;
  border-top: 1px #336699 solid;
  padding: 30px;
  text-align: center;
}

.menu {
  width: 250px;
}

.menu li,
.logo p,
.menu a {
  color: #336699;
  list-style-type: none;
  text-decoration: none;
}

.menu li {
  margin-top: 20px;
}

.logo img {
  height: 200px;
}
