* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Advent Pro;
}

a,
h1,
h2,
h3 {
  color: #336699;
}
a {
  font-size: 15px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.main_header {
  display: flex;
  justify-content: space-around;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}

.main_header li a {
  text-decoration: none;
  letter-spacing: 1px;
}

.main_header ul {
  margin-top: 15px;
}
.main_header li {
  padding-left: 11px;
  display: inline-block;
}

.link_header::after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: blue;
  transition: width 0.3s;
}

.link_header:hover::after {
  width: 100%;
  transition: width 0.3s;
}

@media (max-width: 832px) {
  .main_header {
    text-align: center;
    flex-direction: column;
    height: 150px;
  }
  .main_header img,
  .container_show img {
    display: none;
    margin: auto;
  }
}

.wrapper {
  margin-top: auto;
  background-image: url(../img/fish_background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.container_show {
  justify-content: center;
  width: 100%;
  background: white;
  height: auto;
}

.container_show h1 {
  padding: 20px;
}

.container_show h2 {
  margin-bottom: 30px;
}
.container_show h1,
h2 {
  text-align: center;
}

.img1 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}
.img1 img {
  padding: 50px;
  width: 200px;
  height: 200px;
}

.gallary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.img2 {
  position: static;
  width: 240px;
  margin-top: 50px;
  border: 1px #336699 solid;
  margin-left: 20px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.img2 img {
  width: 100%;
  height: 40%;
}

.info_img {
  padding: 10px;
}

.bottom {
  display: flex;
  padding: 50px;
  border-top: 1px #336699 solid;
}

.menu{
  width: 100%;
  height: auto;
  padding-left: 18px;
  
}

.menu li,
.logo p,
.menu a {
  color: #336699;
  list-style-type: none;
  text-decoration: none;

}
.logo img {
  height: 100px;
}
